<div class="row mb-2 w-100 mx-0">
    <div class="col-12 text-center px-0">
        <button id="scrape" class="btn btn-primary">Scrape Articles</button>
        <button id="clearScraped" class="btn btn-danger">Clear Scraped Articles</button>
    </div>
</div>
<div class="row w-100 mx-0">
    <div class="col-12">
        <div class="container">
            {{#if available}}
            {{#each articles}}
                <div class="card mb-2">
                    <div class="card-header">
                        <a href="{{url}}">{{title}}</a>
                    </div>
                    <div class="card-body">
                        <div>{{summary}}</div>
                        <div class="text-right"><button class="btn btn-success">Save</button></div>
                    </div>
                </div>
            {{/each}}
            {{else}}
                <div class="card">
                    <div class="card-body">
                        It seems there is nothing here, scrape some articles.
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</div>